[submodule "synpulse8-hiring-challenge"]
	path = synpulse8-hiring-challenge
	url = https://github.com/AryanKasliwal/synpulse8-hiring-challenge.git
[submodule "Kafka-Transaction-System"]
	path = Kafka-Transaction-System
	url = https://github.com/AryanKasliwal/Kafka-Transaction-System.git
[submodule "Music_Generation_App_FYP"]
	path = Music_Generation_App_FYP
	url = https://github.com/AryanKasliwal/Music_Generation_App_FYP.git
[submodule "Final_Year_project"]
	path = Final_Year_project
	url = https://github.com/AryanKasliwal/Final_Year_project.git
